*{
    margin: 0;
    padding: 0;
 }   /* (*) untuk styling/panggil semua isi */

header, article, aside, nav, footer{
    padding: 1rem;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
} /*(min-height) itu minimal sizenya, (vh) itu seperti % */

header, footer{
    height: 10vh;
    background-color: khaki;/
}

.container{
    display: flex;
    flex-grow: 1;
}/* flex-grow untuk mengambil ruang */

aside{
    background-color: pink;
    flex: 0 0 20vw;
}

nav{
    background-color: palegreen;
    flex: 0 0 20vw;
}

article{
    flex-grow: 1;
}