/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Centering container */
.container_brand {
    text-align: center;
    padding: 20px;
}

.container_brand h1 {
    font-size: 2rem;
    color: #f05a22;
    margin-bottom: 10px;
}

.featured_products {
    max-width: 900px;
    margin: 0 auto;
    padding: 50px 20px;
    text-align: left;
}

.featured_products h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #090708;
}

/* Centering products */
.products {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.product {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 200px;
}

.product img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 5px;
}

.product p a {
    font-size: 1rem;
    margin-bottom: 5px;
    text-decoration: none;
    color: #090708;
}

.price-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.price-button span {
    font-size: 1.2rem;
    color: #f05a22;
}

.shop-now-button {
    background-color: #f05a22;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 0.9rem;
    transition: background-color 0.3s;
}

.shop-now-button:hover {
    background-color: #090708;
}
